@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#blocks ul li {
    list-style-type: disc !important;
}
#blocks ol li {
    list-style-type: decimal !important;
}
#blocks p {
    margin-top: 1em;
}
.tiptap-editor h1 {
    @apply text-4xl;
}
.tiptap-editor ul {
    @apply list-disc;
    @apply pl-6;
}

.tiptap-editor ol {
    @apply list-decimal;
    @apply pl-6;
}

.tiptap-editor ul p, .tiptap-editor ol p {
    margin-top: 0 !important;
}

.tiptap-editor .ProseMirror:focus-visible {
    outline: none;
}
.tiptap-editor .ProseMirror-foucsed:focus {
    outline: none;
}

